html, body {
  height: 100%;
  margin: 0;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

#container {
  flex: auto;
  text-align: center;
}

#info {
  color: grey;
  margin-top: 30px;
}

#info p {
  margin: 0;
  opacity: 0.5;
}
